/* Generic Stuff */
body {
  background: #151515;
  padding: 0;
  margin: 0;

  font-family: Arial;
  color: #8E8E8E;
  font-size: 0.8em;
}


a {
  color: #BEBEBE;
  text-decoration: none;
  border: none;
}

a:hover {
  color: #AF0;
}

em {
  color: #AF0;
}

code {
    font-size: 11px;
    color: #DEDEDE;
}

/* Layout */

div#main-wrapper {
  min-width: 990px;
}

div#header {
  height: 100px;
  background: #252525;
  margin-bottom: 20px;
  padding: 20px 0;
}

div#header img.logo {
  margin-left: 20px;
}

div#header img.claim {
  float: right;
  margin-right: 20px;
}

div#content-wrapper {
  min-width: 990px;
  margin-bottom: 50px;
  background: url('lizard.png') no-repeat right bottom;
}

div#content-wrapper:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
}

div#content {
}

/* Style category-descriptions */
div#content div.category-description {
  padding-left: 20px;
  margin-bottom: 50px;
  width: 650px;

}

div#content div.category-description div.header h1 {
  margin: 0;
  padding: 0;
}

/* Style content */

div#content div.content-node {
  width: 990px;
  clear: both;
}

/* Override nasty default margins */
div#content div.content-node div.body div.header h1,
div#content div.content-node div.body div.header h2,
div#content div.content-node div.body div.header a {
  margin: 0;
  padding: 0;
}

div#content div.content-node div-body div.header h1 {
  margin-bottom: 20px;
}

div#content div.content-node div.body,
div#content div.content-node div.gallery,
div#content div.content-node div.attachments {
  float: left;
}

div#content div.content-node div.body {
  width: 550px;
  padding-left: 120px;
  padding-right: 20px;
}

div#content div.content-node div.text {  
  line-height: 160%;
  border-left: 2px solid #303030;
  border-right: 2px solid #303030;
  padding: 0 10px;
}

div#content div.content-node div.text h2 {
  margin-top: 40px;
}

div#content div.content-node div.gallery {
  width: 200px;
  margin-bottom: 60px;
}

div#content div.content-node div.attachments {
  margin-top: -60px;
  margin-left: 20px;
}

div#content div.content-node div.attachments ul {
  
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;

  position: absolute;


  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;

  
  background: #505050;
  display: block;
  margin: 0;
  padding: 20px;
}

div#content div.content-node div.attachments ul li {
  margin: 0 10px;
  padding: 0;
  display: inline-block;
  list-style: none;

}

div#content div.content-node div.attachments ul li a {
  display: block;
  background: #303030;
  padding: 10px 20px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

div#content div.content-node div.attachments ul li a:hover {
  background: #AF0;
  color: #303030;
  text-shadow: 0 0 3px rgba(0,0,0, 0.8);
  
}

/* Style Teaser */
div#content div.content-node.teaser div.image {
  float: left;
  width: 180px;
  padding-left: 20px;
  padding-bottom: 20px;
}
div#content div.content-node.teaser div.image img {
  width: 180px;
}

div#content div.content-node.teaser div.body {
  padding-left: 20px;
  padding-bottom: 20px;
}

/* Style the Menu */
div#menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(35,35,35,0.9);
  border-bottom: 3px solid rgba(96,96,96,0.3);
  z-index: 100;
}

div#menu ul.menu {
  margin: 0;
  padding: 0;
}

div#menu ul.menu li {
  float: left;
  list-style: none;
  border-right: 2px solid rgba(25,25,25, 0.6);
}

div#menu ul.menu li a {
  display: inline-block;
  padding: 10px 20px;
  border-bottom: 3px solid rgba(96,96,96,0.0);
  margin-bottom: -3px;
}

div#menu ul.menu li a:hover {
  border-color: rgba(170,255,0, 0.7);
  background: rgba(40,40,40, 0.8);;
  color: #CACACA;
  text-shadow: 0 0 5px rgba(170,255,0, 0.7);
}

/* Style the CSS Imageviewer */
div.gallery div.item {
  margin-bottom: 20px;
}

div.gallery div.item img.thumbnail {
  display: block;
  width: 200px;
}

div.gallery div.item div.viewer {
  display: table;

  position: fixed;
  width: 600px;
  height: 100%;
  right: -600px;
  top: 0;
  z-index: 100;
  background: #232323;
  border-left: 3px solid #AF0;
  -webkit-transition: right 2s ease-in;
  -moz-transition: right 2s ease-in;


}

div.gallery div.item:hover div.viewer {
  right: 0;
  z-index: 200;
  -webkit-transition: right 0.2s ease-in;
  -moz-transition: right 0.2s ease-in;
}

div.gallery div.item div.viewer div.image-wrapper {
  display: table-cell; 
  vertical-align: middle;
}

div.gallery div.item div.viewer div.image-wrapper img {
  display: block;
  z-index: 205;
  max-width: 600px;
  max-height: 650px;
  margin: 0 auto;
}

div.gallery div.item div.viewer div.image-wrapper span.caption {
  z-index: 210;
  margin: 0;
  padding: 0 10px;
  line-height: 40px;
  position: fixed;
  display: block;
  width: 580px;
  height: 40px;
  margin-top: -40px;
  background: rgba(0,0,0,0.9);
}
